<div>grid comp</div>
<div class="col-lg-12">
  <!-- <p-table [value]="data">
      <ng-template pTemplate="header"> 
          <tr>
              <th *ngFor="let col of cols">
                  {{col.Caption}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowdata>
          <tr>
              <td *ngFor="let col of cols">
                      {{rowdata[col.ColName]}}
              </td>
          </tr>
      </ng-template>
  </p-table> -->
  
</div>
<ag-grid-angular 
    style="width: calc(99vw); height: calc(90vh);" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular>
 <!-- [rowData]="rowData | async" -->